$color-red: rgb(255,0,0);
$color-green: rgb(0,255,0);
$color-blue: rgb(0,0,255);

.text-red {
	color: $color-red;
}

.text-green {
	color: $color-green;
}

.text-blue {
	color: $color-blue;
}

.bold-text {
	font-weight: bold;
}